<div id="intro" style="margin-bottom: 20px">
    <p><i>A functional dependency A &rarr; B means that the contents of B are determined by the
            contents of A. A is called the left-hand-side (LHS) and B the right-hand-side (RHS). There cannot exist two
            tuples with the same value for A but a different value for B.
            To choose what needs to happen when a functional dependency is being violated, go to settings or click <a
                href="{{ url_for('settings') }}">here</a> and change the 'on functional dependency violation' action.
        </i>
    </p>

    <div id="measureInformation">
        <div id="measureInformationHeading" data-toggle="collapse" data-target="#measureInformationCollapse"
            aria-expanded="true" aria-controls="measureInformationCollapse" style="cursor: pointer;">
            <h6><i><u>More information...</u></i></h6>
            <!-- <svg id="arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
            </svg> -->
        </div>

        <div id="measureInformationCollapse" class="collapse" aria-labelledby="measureInformationHeading">
            <p><i>
                    To discover such rules, the algorithm uses two measuring
                    methods that calculate a score between 0 and 1. Because each method has its weakness, we use two
                    methods
                    to
                    make
                    a more accurate decision.
                    <ul>
                        <li>g3: this method calculates the fraction of rows that need to be deleted for the FD to hold
                            in the
                            relation. However, g3 does not take into account the probability distribution of the RHS.
                            So, if
                            there
                            is a predominant RHS-value, g3 will be very high.</li>
                        <li>Fraction of information: this method calculates the extent to which the LHS can reduce the
                            uncertainty
                            in the RHS. Uncertainty is maximum when the probability distribution of the RHS is uniform.
                            However,
                            if
                            the LHS has a large domain size, fraction of information is likely to be high.</li>
                    </ul>
                    Out of the two measuring methods, fraction of information is more robust.
                </i></p>
        </div>
    </div>
</div>



<div id="parameters" class="card mb-3 bg-light">
    <div class="card-header" id="parametersHeading">
        <h5 class="mb-0">
            <button class="btn btn-block" data-toggle="collapse" data-target="#parametersCollapse" aria-expanded="true"
                aria-controls="parametersCollapse">
                Parameters
            </button>
        </h5>
    </div>

    <div id="parametersCollapse" class="collapse" aria-labelledby="parametersHeading">
        <div class="card-body">
            <form id="parameters">
                <div class="mb-3" id="discoveryparameters">
                    <h5 class="mb-3">Discovery Parameters</h5>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="thresholdtable" {{'checked' if
                                fd_parameters.threshold_table }}>
                            <label class="form-check-label" for="thresholdtable">
                                Eliminate Small Blocks
                            </label>
                            <small id="thresholdtablehelp" class="form-text text-muted">
                                If this box is checked, the tool will automatically eliminate small blocks. E.g. if the
                                LHS
                                is country and Belgium occurs only once, it will not be used in the calculation.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="includenulls" {{'checked' if
                                fd_parameters.include_nulls }}>
                            <label class="form-check-label" for="includenulls">
                                Include NULL-values
                            </label>
                            <small id="thresholdtablehelp" class="form-text text-muted">
                                If checked, NULLs will also be used in the calculation. If not, rows with NULLs will be
                                skipped.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="bincolumns" {{'checked' if
                                fd_parameters.bin_columns }}>
                            <label class="form-check-label" for="bin">
                                Bin Columns (date and decimal)
                            </label>
                            <small id="binhelp" class="form-text text-muted">
                                If checked, dates and decimals will be binned into intervals. If not, date or decimal
                                columns will be skipped.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="sample" {{'checked' if
                                fd_parameters.sample }}>
                            <label class="form-check-label" for="sample">
                                Sample
                            </label>
                            <small id="samplehelp" class="form-text text-muted">
                                If this box is checked, the tool will use a sample of the dataset.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="samplesize">Sample Size</label>
                        <input type="number" min="0" max="1" step="0.01" class="form-control" id="samplesize"
                            value="{{ fd_parameters.sample_size }}">
                        <small id="samplesizehelp" class="form-text text-muted">
                            The sample size (between 0.01 and 1). E.g. for a value of 0.01, the tool will use 1% of the
                            dataset. Use zero to let the tool decide on the sample size.
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="fdthreshold">FD Score Threshold</label>
                        <input type="number" min="0" max="1" step="0.01" class="form-control" id="fdthreshold"
                            value="{{ fd_parameters.fd_threshold }}">
                        <small id="fdthresholdhelp" class="form-text text-muted">
                            A LHS &rarr; RHS will only be considered an FD if the score is above this value. We
                            recommend
                            not to set this to lower than 0.9.
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="workers">Workers</label>
                        <input type="number" min="1" step="1" class="form-control" id="workers"
                            value="{{ fd_parameters.workers }}">
                        <small id="workershelp" class="form-text text-muted">
                            The amount of parallel processes that will be discovering FDs. The maximum is the number of
                            cores on your machine. If higher, the number of cores on your machine will be used.
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="arity">Arity</label>
                        <input type="number" min="1" max="5" step="1" class="form-control" id="arity"
                            value="{{ fd_parameters.arity }}">
                        <small id="arityhelp" class="form-text text-muted">
                            The number of elements in the LHS. E.g. CITY &rarr; COUNTRY has arity 1. The higher the
                            arity,
                            the more possible FDs and the higher the complexity.
                        </small>
                    </div>

                </div>

                <div id="confidenceparameters">
                    <h5>Confidence Thresholds</h5>
                    <small id="confhelp" class="form-text text-muted mb-3">
                        Threshold parameters used in the calculation of the confidence score.
                    </small>

                    <div class="form-group">
                        <label for="confdominant">Dominant Y Percentage</label>
                        <input type="number" min="0.0" step="0.01" max="1.0" class="form-control" id="confdominant"
                            value="{{ fd_parameters.conf_dominant_y_pct }}">
                        <small id="confdominanthelp" class="form-text text-muted">
                            If the occurrence of the most common value in the RHS-domain is above this threshold, the
                            algorithm will classify this as a predominant value, which is a confounding factor.
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="confrows">Minimal Row Percentage</label>
                        <input type="number" min="0.0" step="0.01" max="1.0" class="form-control" id="confrows"
                            value="{{ fd_parameters.conf_low_pct_rows }}">
                        <small id="confrowshelp" class="form-text text-muted">
                            If the fraction of the used rows to calculate the FD (with regard to the rows in the table)
                            is
                            below this threshold, the algorithm will classify this as an unsufficient amount of rows,
                            which
                            is a confounding factor.
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="confdomain">Large Domain</label>
                        <input type="number" min="10" step="1" class="form-control" id="confdomain"
                            value="{{ fd_parameters.conf_large_domain }}">
                        <small id="confdomainhelp" class="form-text text-muted">
                            If the number of unique LHS-values is above this threshold, the algorithm will classify this
                            as
                            a 'large' domain, which is a confounding factor.
                        </small>
                        </small>
                    </div>
                </div>



            </form>
        </div>
    </div>
</div>

<button id="discover_fds" data-table="{{ tablename }}" class="btn btn-primary d-inline btn-md mb-3">Start
    Discovery</button>
<button id="visualize_results" class="btn btn-dark d-inline btn-md mb-3">Visualize External Results</button>
<a class="btn btn-info float-right {{ 'disabled' if functional_dependencies|length == 0 }}"  onclick="this.href='data:text/html;charset=UTF-8,'+
    encodeURIComponent(document.getElementsByTagName('head')[0].outerHTML)+
    '<div class=&quot;w-50 mx-auto&quot;>'+
    encodeURIComponent(document.getElementById('fd_results').innerHTML)+
    '<script src=&quot;https:/\/ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js&quot;></script>'+
    '<script src=&quot;https:/\/cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js&quot;></script>'+
    '<script src=&quot;https:/\/cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js&quot;></script>'+
    '<script src=&quot;https:/\/cdn.jsdelivr.net/npm/chart.js@2.8.0&quot;></script>'+
    '</div>'"
    href="#" download>Download Report</a>

<input id="results_file_input" type="file" style="display: none;" />
<div id="fds_loading" class="d-none justify-content-center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="fd_results" class="mb-4">
    {% if functional_dependencies|length > 0 %}
    <!-- <h5>Found ... functional dependencies</h5> -->
    <button id="select-all" type="button" class="d-none btn btn-outline-secondary btn-sm">Select all</button>
    <button id="unselect-all" type="button" class="d-none btn btn-outline-secondary btn-sm">Deselect all</button>

    <div id="confidenceLegend" class="mx-auto w-75 p-3">
        <h6 class="text-center">Confidence Legend</h6>
        <div class="container">
            <div class="row justify-content-center">
                <span class="col-2 text-right font-weight-light">Low</span>
                <div class="col-6"
                    style="background-image: linear-gradient(to right, hsl(112, 45%, 100%),hsl(112, 45%, 80%),hsl(112, 45%, 70%), hsl(112, 45%, 60%), hsl(112, 45%, 50%), hsl(112, 45%, 40%));">
                    &nbsp;</div>
                <span class="col-2 text-left font-weight-light">High</span>
            </div>
        </div>
    </div>

    <div id="RHSAccordion" class="mt-3">

        {% for rhs_dict in functional_dependencies %}
        {% for rhs, values in rhs_dict.items() %}
        <div class="card">
            <div class="card-header" id="RHSHeading{{ rhs }}">
                <h5 class="mb-0">
                    <button class="btn btn-block" data-toggle="collapse" data-target="#RHSCollapse{{ rhs }}"
                        aria-expanded="true" aria-controls="RHSCollapse{{ rhs }}">
                        _ &rarr; {{ rhs }}
                    </button>
                </h5>
            </div>

            <div id="RHSCollapse{{ rhs }}" class="collapse" aria-labelledby="RHSHeading{{ rhs }}"
                data-parent="#RHSAccordion">
                <div class="card-body">
                    <div id="FDAccordion">
                        {% for result in values %}
                        <div class="card">
                            <div class="d-flex align-items-center justify-content-center"
                                style='cursor: pointer; background-color: hsl(112, 45%, {{ 40 + (((5 - result.reasoning.confidence)/5)*(100-40)) }}%);'
                                id="fdheading{{'_'.join(result.columns)}}">
                                <table class="table table-borderless m-0" style="width: 60%" data-toggle="collapse"
                                    data-target="#fdcollapse{{'_'.join(result.columns)}}" aria-expanded="true"
                                    aria-controls="fdcollapse{{'_'.join(result.columns)}}"
                                    onclick='loadMetaData({{result|tojson}})'>
                                    <tbody>
                                        <tr>
                                            <td style="width: 20%" class="text-right">{{" ,
                                                ".join(result.columns[:-1])}}</td>
                                            <td style="width: 5%" class="text-center">&rarr;</td>
                                            <td style="width: 20%" class="text-left">{{result.columns[-1]}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <h5 class="mb-0">
                                    <button class="btn btn-block" data-toggle="collapse"
                                        data-target="#fdcollapse{{'_'.join(result.columns)}}" aria-expanded="true"
                                        aria-controls="fdcollapse{{'_'.join(result.columns)}}"
                                        onclick='loadMetaData({{result|tojson}})'>
                                        {{" , ".join(result.columns[:-1])}} &rarr;
                                        {{result.columns[-1]}} {{ result.scores.values()|max }}
                                    </button>
                                    
                                </h5> -->
                            </div>
                            <div id="fdcollapse{{'_'.join(result.columns)}}" class="collapse"
                                aria-labelledby="fdheading{{'_'.join(result.columns)}}" data-parent="#FDAccordion">
                                <div class="card-body">
                                    <div id="rationale">
                                        <h3>Rationale</h3>
                                        <!-- <small class="text-muted mb-1">
                                            An human-readable explanation of why the algorithm thinks this is a
                                            functional dependency.
                                        </small> -->

                                        <p>{{ result.reasoning.reason }}</p>


                                        <!-- <p>Confidence score (out of 5): {{ result.reasoning.confidence }}</p> -->

                                    </div>

                                    <div id="scores{{'_'.join(result.columns)}}" class="pl-2 border-left">
                                        <h4 class="mt-4" data-toggle="collapse"
                                            data-target="#fdscores{{'_'.join(result.columns)}}" aria-expanded="true"
                                            aria-controls="fdscores{{'_'.join(result.columns)}}"
                                            id="fdscoresheading{{'_'.join(result.columns)}}" style="cursor: pointer;">
                                            Scores</h4>
                                        <div class="collapse" id="fdscores{{'_'.join(result.columns)}}"
                                            aria-labelledby="fdscoresheading{{'_'.join(result.columns)}}">
                                            <small class="text-muted ">
                                                The discovery algorithm uses 2 methods to calculate the degree to which
                                                the
                                                FD holds in the dataset. There is more information at the top of this
                                                page, but it is fine if you don't understand the meaning of these.
                                            </small>
                                            <table class="table table-sm table-bordered w-50 mt-3">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Fraction of Information</th>
                                                        <td>{{ "%.3f"|format(result.scores.fraction_of_information) }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Reliable Fraction of Information</th>
                                                        <td>{{ "%.3f"|format(result.scores.reliable_fraction_of_information) }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">g3</th>
                                                        <td>{{ "%.3f"|format(result.scores.g3) }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div id="used_rows{{'_'.join(result.columns)}}" class="pl-2 border-left">
                                        <h4 class="mt-4" data-toggle="collapse"
                                            data-target="#fdusedrows{{'_'.join(result.columns)}}" aria-expanded="true"
                                            aria-controls="fdusedrows{{'_'.join(result.columns)}}"
                                            id="fdusedrowsheading{{'_'.join(result.columns)}}" style="cursor: pointer;"
                                            onclick="initUsedRows();">
                                            Used Rows</h4>
                                        <div class="collapse" id="fdusedrows{{'_'.join(result.columns)}}"
                                            aria-labelledby="fdusedrowsheading{{'_'.join(result.columns)}}">
                                            <small class="text-muted">
                                                More information about the rows that were used to calculate the scores.
                                                A
                                                row can be eliminated in 2 cases:
                                                <ul class="text-muted">
                                                    <li>The row contains a NULL-value and the parameter "include NULLs"
                                                        is
                                                        disabled.</li>
                                                    <li>The row contains a value that occurs less than a certain
                                                        threshold
                                                        and
                                                        the parameter "Eliminate Small Blocks" is enabled.</li>
                                                </ul>
                                            </small>
                                            {% if result.used_rows < result.total_rows %} <span
                                                class="font-weight-light text-center w-100">Used {{ result.used_rows }}
                                                of {{ result.total_rows }} rows.</span>

                                                <div class="progress mt-1">
                                                    <div class="progress-bar" role="progressbar"
                                                        style="width: {{ (result.used_rows/result.total_rows)*100 }}%"
                                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                        data-container="body" data-toggle="tooltip" data-placement="top"
                                                        title="{{result.used_rows}} used rows">{{result.used_rows}}
                                                    </div>
                                                    {% if result.n_null_rows > 0 %}
                                                    <div class="progress-bar bg-danger" role="progressbar"
                                                        style="width: {{ (result.n_null_rows/result.total_rows)*100 }}%"
                                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                        data-container="body" data-toggle="tooltip" data-placement="top"
                                                        title="{{result.n_null_rows}} NULL-rows">{{result.n_null_rows}}
                                                    </div>
                                                    {% endif %}
                                                    {% if result.n_small_blocks > 0 %}
                                                    <div class="progress-bar bg-danger progress-bar-striped"
                                                        role="progressbar"
                                                        style="width: {{ (result.n_small_rows/result.total_rows)*100 }}%"
                                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                        data-container="body" data-toggle="tooltip" data-placement="top"
                                                        title="{{result.n_small_rows}} small rows">
                                                        {{result.n_small_rows}}</div>
                                                    {% endif %}
                                                </div>

                                                {% else %}
                                                <span class="font-weight-light mb-1 text-center">Used all {{
                                                    result.used_rows }} rows.</span>

                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 100%"
                                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                        {{
                                                            result.used_rows }}</div>
                                                </div>


                                                {% endif %}
                                        </div>




                                    </div>

                                    <div id="distributions{{'_'.join(result.columns)}}" class="pl-2 border-left">
                                        <h4 class="mt-4" data-toggle="collapse"
                                            data-target="#fddistr{{'_'.join(result.columns)}}" aria-expanded="true"
                                            aria-controls="fddistr{{'_'.join(result.columns)}}"
                                            id="fddistrheading{{'_'.join(result.columns)}}" style="cursor: pointer;">
                                            Distributions</h4>

                                        <div class="collapse" id="fddistr{{'_'.join(result.columns)}}"
                                            aria-labelledby="fddistrheading{{'_'.join(result.columns)}}">
                                            <small class="text-muted">
                                                The distribution of the values of the LHS and RHS. It can be very useful
                                                to
                                                inspect this to make a decision on whether to confirm the FD or not.
                                                Note:
                                                If there are more than 20 different values in the distribution, no
                                                legend is
                                                shown.
                                                You can hover the parts to see the domain value.
                                            </small>

                                            <h5 class="mt-3">LHS: {{" , ".join(result.columns[:-1])}}</h5>
                                            <p><b>Unique values: </b>{{ result.most_frequent_x|length }}</p>
                                            <!-- {% if result.most_frequent_x|length > 20 %} -->
                                            <small class="text-muted">Hover parts to see values.</small>
                                            <!-- {% endif %} -->

                                            <div><canvas id="lhsdistribution{{'_'.join(result.columns)}}"></canvas></div>

                                            <h5>RHS: {{result.columns[-1]}}</h5>
                                            <p><b>Unique values: </b>{{ result.most_frequent_y|length }}</p>
                                            <!-- {% if result.most_frequent_x|length > 20 %} -->
                                            <small class="text-muted">Hover parts to see values.</small>
                                            <!-- {% endif %} -->

                                            <div><canvas id="rhsdistribution{{'_'.join(result.columns)}}"></canvas></div>
                                        </div>

                                    </div>

                                    <div id="dirty_data{{'_'.join(result.columns)}}" class="pl-2 border-left mb-5">
                                        <h4 class="mt-4" data-toggle="collapse"
                                            data-target="#fddirty{{'_'.join(result.columns)}}" aria-expanded="true"
                                            aria-controls="fddirty{{'_'.join(result.columns)}}"
                                            id="fddirtyheading{{'_'.join(result.columns)}}" style="cursor: pointer;">
                                            Potential Erroneous Examples</h4>
                                        <div class="collapse" id="fddirty{{'_'.join(result.columns)}}"
                                            aria-labelledby="fddirtyheading{{'_'.join(result.columns)}}">
                                            <small class="text-muted">
                                                The erroneous examples consist of the 10 largest LHS-blocks with the
                                                correct
                                                RHS-value, the
                                                percentage of erroneous RHS-values and an example of an erroneous
                                                RHS-value.
                                            </small>
                                            <div id="dirtydata{{'_'.join(result.columns)}}" class="mt-2">
                                                {% for dirty_element in result.dirty_data %}
                                                {% if 'erroneous_example' in dirty_element %}
                                                <small class="font-weight-light">LHS: {{ dirty_element.lhs }} ({{
                                                    "%.2f"|format(100 - (dirty_element.default_percentage * 100)) }}%
                                                    erroneous values)</small>
                                                {% else %}
                                                <small class="font-weight-light">LHS: {{ dirty_element.lhs }}</small>
                                                {% endif %}

                                                <div class="progress mt-1">
                                                    <div class="progress-bar bg-success" role="progressbar"
                                                        style="width: {{ dirty_element.default_percentage * 100 }}%"
                                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                        data-container="body" data-toggle="tooltip" data-placement="top"
                                                        title="Default value: {{ dirty_element.default }}">{{
                                                        "%.2f"|format(dirty_element.default_percentage * 100) }}%</div>
                                                    {% if 'erroneous_example' in dirty_element %}
                                                    <div class="progress-bar bg-danger" role="progressbar"
                                                        style="width: {{ 100 - (dirty_element.default_percentage * 100) }}%"
                                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                                        data-container="body" data-toggle="tooltip" data-placement="top"
                                                        title="Erroneous example: {{ dirty_element.erroneous_example }}">
                                                        {{ "%.2f"|format(100 - (dirty_element.default_percentage * 100))
                                                        }}%</div>
                                                    {% endif %}
                                                </div>
                                                {% endfor %}
                                            </div>

                                            <!-- <canvas id="dirtydata{{'_'.join(result.columns)}}"></canvas> -->

                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}

    </div>

    <script>
        function loadMetaData(fd) {
            //Distribution Charts
            var lhsCanvasId = "lhsdistribution" + fd.columns.join("_")
            var lhsDistribution = fd.most_frequent_x
            drawDistributionChart(lhsCanvasId, lhsDistribution)

            var rhsCanvasId = "rhsdistribution" + fd.columns.join("_")
            var rhsDistribution = fd.most_frequent_y
            drawDistributionChart(rhsCanvasId, rhsDistribution)

            $('.progress-bar[data-toggle="tooltip"]').tooltip();
        }
        function drawDistributionChart(canvasId, distribution) {

            var values = Object.values(distribution)

            data = {
                datasets: [{
                    data: values,
                    backgroundColor: getColors(values.length),
                    borderWidth: 0
                }],

                labels: Object.keys(distribution)
            };

            var display_legend = values.length <= 20

            options = {
                reponsive: true,
                legend: {
                    position: 'left',
                    display: false,
                },
                title: {
                    display: false,
                },
                animation: {
                    animateScale: false,
                    animateRotate: false
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            return data['datasets'][0]['data'][tooltipItem['index']].toFixed(3) + "%";
                        },
                        title: function(tooltipItem, data) {
                            return data['labels'][tooltipItem[0]['index']];
                        }
                    }
                }
            }

            var ctx = document.getElementById(canvasId).getContext('2d');
            var distributionChart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: options
            });
        }
        function getColors(num) {
            var possible_colors = ['#808080', '#000000', '#FF0000', '#FFFF00', '#00FF00', '#008000', '#00FFFF', '#0000FF', '#000080', '#FF00FF', '#800080', '#00ffff', '#f0ffff', '#f5f5dc', '#000000', '#0000ff', '#a52a2a', '#00ffff', '#00008b', '#008b8b', '#a9a9a9', '#006400', '#bdb76b', '#8b008b', '#556b2f', '#ff8c00', '#9932cc', '#8b0000', '#e9967a', '#9400d3', '#ff00ff', '#ffd700', '#008000', '#4b0082', '#f0e68c', '#add8e6', '#e0ffff', '#90ee90', '#d3d3d3', '#ffb6c1', '#ffffe0', '#00ff00', '#ff00ff', '#800000', '#000080', '#808000', '#ffa500', '#ffc0cb', '#800080', '#800080', '#ff0000', '#c0c0c0', '#ffffff', '#ffff00']
            // var possible_colors = ["red", "blue", "yellow", "green", "black", "gray", "purple", "navy", "orange", "brown", "coral", "olive", "turquoise", "darkred", "tan", "thistle" ]
            // var sliced_colors = colors.slice(0,num)
            // return sliced_colors
            var colors = [];
            while (colors.length < num) {
                var n_colors_to_add = Math.min(possible_colors.length, num - colors.length)
                var colors_to_add = possible_colors.slice(0, n_colors_to_add)
                colors = colors.concat(colors_to_add)
            }

            return colors
        }
        function initUsedRows() {
            $('.progress-bar[data-toggle="tooltip"]').tooltip();
        }
    </script>
    

</div>

{% else %}
<p>No functional dependencies found.</p>
{% endif %}
<p id="tablename" hidden>{{ tablename }}</p>
</div>
<p id="discovery_error" class="d-none">Error in discovery, please try again.</p>